/*
COLOR PALETTE
#EEF0F2 - almost white
#0B2027 - dark gray - green
#475B5A - khaki
#5D737E - grey-blue
#64B6AC - turq
*/


/* Global styles
------------------------------------*/
html {
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
  line-height: 1.5rem;
  /* padding: 50px 50px 50px 50px; */
}
*, *:before, *:after {
  box-sizing: inherit;
}
h1{
  font-size: 20px;
  font-weight: bold;
}
h2{
  font-size: 16px;
}

p{
  font-size: 14px;
}

li{
  font-size: 15px;
  line-height: 2rem;
}

a {
  color: #64B6AC;
}


/* Background colour & images
------------------------------------*/
body{
  margin: 0;
  padding: 0;
}

.banner {
  background-image: url(../images/background-mock.jpg);
  background-size: cover;
  /* background-position: top right; */
  /* margin: 0 !important;
  padding: 0 !important; */
}

.banner img{
display: block;
 margin-left: auto;
 margin-right: auto;
 width: 20%;
 padding: 100px 0px 100px 0px;

}

/* Jump to section/nav
------------------------------------*/
nav{
  width: 100vw;
}

.jump-to {
  overflow: hidden;
  display: flex;
  padding: 20px 30px 10px 30px;

  /* width: 100%; */
}

.jump-to ul{
    color: #0B2027;
    text-align: center;
    padding: 14px 10px;
    font-size: 17px;
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
}
}

.jump-to li{
  display: block;
  flex: 0 1 auto;
  /* list-style-type: none; */
  /* margin: 0 8vw; */

}

.jump-to a{
  text-decoration: none;

}

.jump-to a:hover{
  color: #C6E9FF;
}

/*shows elements in a column*/

@media only screen and (max-width: 600px) {
  ul{
    flex-direction: column;
}
    li{
        margin: 0;
      }
      a{
     display: block;
   }
  }

  /* Background colour & images
  ------------------------------------*/

  .intro{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    overflow: hidden;
  }

  .intro p{
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
  }

  .intro img{
    float: right;
    padding-left: 50px;
    padding-bottom: 100px;
    padding-right: 10%;
  }

  @media only screen and (min-width: 1000px) {
    .intro{
      text-align: justify;
      padding-left: 15%;
      padding-right: 15%;
  }
    .intro h1{
      text-align: center;
      /* padding-left: 20%;
      padding-right: 20%; */
}
  }

  @media only screen and (max-width: 800px) {
    .intro p{
      padding-left: 10%;
      padding-right: 10%;
  }
    .intro img{
      width: 300px;
      display: block;
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 10px;
      float: none;
      margin-left: auto!important;
      margin-right: auto!important;

  }

  .intro{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0;
    overflow: hidden;
}


/* Contact Form
------------------------------------*/

.contact-form{
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.contact-form h1{
  text-align: center;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #475B5A;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Responsive layout, make the two columns stack on top of each other*/
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
